@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*body {
    background: linear-gradient(300deg, #ced1d6, #bfc0c0);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}*/

input:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}


body{
    background: url(https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 50rem;
    min-height: 10rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position:relative;
    background:inherit;
    overflow: hidden;
    border-radius: 0.7rem;
}

.container:before{
    position: absolute;
    background:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
}
.login-page {
    width:auto;
    padding: 6% 0 0;
}
.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 25px;
    padding: 15px;
    text-align: center;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 0.5em;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: #43a047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4caf50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    /*max-width: 300px;*/
    margin: 0 auto;
}
.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.user_span span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}